<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 콘솔 로깅 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][%thread] %-5level [%C.%M:%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <property name="LOG_PATH" value="./logs"/>
    <property name="LOG_FILE_NAME" value="api"/>
    <property name="ERR_LOG_FILE_NAME" value="api-error"/>
    <property name="LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss}][%thread] %-5level %logger{35} - %msg%n"/>

    <!-- info 로깅 -->
    <appender name="InfoLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <!-- 하루에 한번 압축 후 보관, 최대 730일, 5GB까지 보관 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>730</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- err 로깅 -->
    <appender name="ErrorLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_PATH}/${ERR_LOG_FILE_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <!-- 하루에 한번 압축 후 보관, 최대 60일, 3GB까지 보관 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${ERR_LOG_FILE_NAME}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>60</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
    </appender>


    <springProfile name="local">
        <logger name="com.spring.sample.aop.LoggingAspect" level="INFO">
            <appender-ref ref="Console" />
            <appender-ref ref="InfoLogFile" />
            <appender-ref ref="ErrorLogFile" />
        </logger>

        <root level = "INFO">
            <appender-ref ref="Console" />
            <appender-ref ref="InfoLogFile" />
            <appender-ref ref="ErrorLogFile" />
        </root>
    </springProfile>

    <springProfile name="test">
        <logger name="com.spring.sample.aop.LoggingAspect" level="INFO">
            <appender-ref ref="Console" />
        </logger>
        <root level = "INFO">
            <appender-ref ref="Console" />
        </root>
    </springProfile>

</configuration>